org: geraldocolchado
app: web-chat-ia
service: web-chat-ia

provider:
  name: aws
  region: us-east-1
  iam:
    role: arn:aws:iam::${aws:accountId}:role/LabRole

plugins:
  - serverless-s3-sync
  - serverless-plugin-scripts

custom:
  bucketName: web-chat-ia-${sls:stage}
  s3Sync:
    - bucketName: ${self:custom.bucketName}
      localDir: dist
  scripts:
    hooks:
      'before:deploy:deploy': npm run build

resources:
  Resources:
    WebChatBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:custom.bucketName}
        PublicAccessBlockConfiguration:
          BlockPublicAcls: false
          BlockPublicPolicy: false
          IgnorePublicAcls: false
          RestrictPublicBuckets: false
        WebsiteConfiguration:
          IndexDocument: index.html
          ErrorDocument: index.html
    WebChatBucketPolicy:
      Type: AWS::S3::BucketPolicy
      Properties:
        Bucket: { Ref: WebChatBucket }
        PolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Principal: '*'
              Action: 's3:GetObject'
              Resource: !Sub '${WebChatBucket.Arn}/*'
  Outputs:
    WebsiteURL:
      Value: !GetAtt WebChatBucket.WebsiteURL
