org: geraldocolchado
app: web-chat-ia
service: agente-ia

provider:
  name: aws
  region: us-east-1
  runtime: python3.14
  timeout: 25    
  environment:
    GROQ_API_KEY: ${env:GROQ_API_KEY}
    CHAT_TABLE: ${self:custom.chatTable}
  iam:
    role: arn:aws:iam::${aws:accountId}:role/LabRole

custom:
  chatTable: chat-memory-${sls:stage}

functions:
  createChat:
    handler: handler.create_chat
    events:
      - http:
          path: /chats
          method: post
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
            methods:
              - OPTIONS
              - POST
  listChats:
    handler: handler.list_chats
    events:
      - http:
          path: /chats
          method: get
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
            methods:
              - OPTIONS
              - GET
  getChat:
    handler: handler.get_chat
    events:
      - http:
          path: /chats/{chatId}
          method: get
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
            methods:
              - OPTIONS
              - GET
  sendMessage:
    handler: handler.send_message
    events:
      - http:
          path: /chats/{chatId}/messages
          method: post
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
            methods:
              - OPTIONS
              - POST

resources:
  Resources:
    ChatTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.chatTable}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: pk
            AttributeType: S
          - AttributeName: sk
            AttributeType: S
        KeySchema:
          - AttributeName: pk
            KeyType: HASH
          - AttributeName: sk
            KeyType: RANGE
  Outputs:
    ApiBaseUrl:
      Value:
        Fn::Join:
          - ''
          - - 'https://'
            - Ref: ApiGatewayRestApi
            - '.execute-api.'
            - Ref: AWS::Region
            - '.amazonaws.com/'
            - ${sls:stage}
